{
  "type": "yaBfmslhcIRR4TLiYhmWIA==",
  "project_id": "GHHQzbE/8XeStxBIPeaXRg==",
  "private_key_id": "i2nPeteS6fwnGIm/C4lGZbQuvlO9cy9+kxqPmhBHTha7KnSr8O5C05am59bcHBkp",
  "private_key": "-----BEGIN PRIVATE KEY-----\n75rYeX5q5ytAbHStIk0ZOGlL8hU9yvjjCFIqQEdNtU5b8xYzqbwyJ4i5gqbZxU+bRsb098TcJmo+/P3/lM4IcQ==\n-----END PRIVATE KEY-----\n",
  "client_email": "2HnjwqerCM7f67W5odsnKV5ReGv/bQHOJHQoJ6JVPQfY1JBb+AhsALa95KuZrhGB",
  "client_id": "O840n4VipF139fXY220ojQ==",
  "auth_uri": "https://5ScwI8F37gFzfyN+4J2oO7ygzxWZ2GjIc+P23Y6PL3Y4jxRUJ1o2/4oaw8LLwwrd",
  "token_uri": "https://lmxpgs5InMMU2XfyXDpFBg==",
  "auth_provider_x509_cert_url": "https://www.zvAQl1XHK9qz9OsH+o/yJbM6I7zvEIfCod1uk5H5NBk=",
  "client_x509_cert_url": "https://www.zaYyvXXLBOVoAfb7XW4KJSmmqaZadu9ngWgDviaasiaM1WPLSzn5hO6kXtWCmdO7"
}